{
  "singleQuote": false,
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": [
        "*.json",
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
